[submodule "lib/libnfc"]
	path = lib/libnfc
	url = https://github.com/werkstattwaedi/libnfc
[submodule "lib/libbase"]
	path = lib/libbase
	url = https://github.com/werkstattwaedi/libbase
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/werkstattwaedi/lvgl.git
