[submodule "lib/libbase"]
	path = lib/libbase
	url = https://github.com/werkstattwaedi/libbase
[submodule "lib/lvgl"]
	path = lib/lvgl
	url = https://github.com/werkstattwaedi/lvgl.git
[submodule "lib/XPT2046_Touch"]
	path = lib/XPT2046_Touch
	url = https://github.com/vritzka/XPT2046_Touch.git
[submodule "lib/CryptoAES_CBC"]
	path = lib/CryptoAES_CBC
	url = https://github.com/werkstattwaedi/CryptoAES_CBC.git
[submodule "lib/CRC32"]
	path = lib/CRC32
	url = https://github.com/werkstattwaedi/CRC32.git
[submodule "lib/AES_CMAC"]
	path = lib/AES_CMAC
	url = https://github.com/werkstattwaedi/AES_CMAC.git
